  /* =========================================================
     5) TABLE + LOADER
     ========================================================= */
  .table-wrapper {
    margin: 20px 0px;
    border-radius: 6px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);
  }
  .table-wrapper.hidden, 
  #tabs.hidden {
    display: none;
  }
  
  /* LOADER (прелоадер) */
  .loader-container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
  }
  .loader-spinner {
    width: 50px; 
    height: 50px;
    margin: 0 auto 10px;
    border: 5px solid #ccc;
    border-top-color: #3498db;
    border-radius: 50%;
    animation: spinner 1s linear infinite;
  }
  @keyframes spinner {
    to { transform: rotate(360deg); }
  }
  
  /* TABLE */
  table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0;
    border-radius: 6px;
    background-color: #fff;
  }
  thead th {
    position: sticky;
    top: 0;
    z-index: 2;
    background-color: #fff;
    color: #000000;
    box-shadow: 0px -2px 5px rgba(0, 0, 0, 0.2);
    padding: 10px;
    margin: 5px;
  }
  tbody tr {
    border-bottom: 1px solid #eee;
    transition: background-color 0.2s ease;
  }
  tbody tr:nth-child(even) {
    background-color: #f7f7f7;
  }
  tbody tr:hover {
    background-color: #ddeeff;
  }
  td {
    padding: 10px;
    vertical-align: middle;
    font-size: 14px;
    color: #333;
  }
  th {
    padding: 10px;
    font-size: 14px;
    border: none;
  }
  
  /* RESPONSIVE: таблица */
  @media (max-width: 768px) {
    #priceList {
      display: block;
      overflow-x: auto;
    }
  }
  
.photo-cell { text-align: center; }
