<IfModule mod_authz_core.c>
  # Для Apache 2.4+
  
  # 1) Запретить вообще все .php-файлы
  <FilesMatch "\.php$">
      Require all denied
  </FilesMatch>
  
  # 2) Разрешить только основные php-скрипты
  <FilesMatch "^(login|logout|index|admin|data|image_proxy|export|search_product)\.php$">
      Require all granted
  </FilesMatch>
</IfModule>

<IfModule !mod_authz_core.c>
  # Для Apache 2.2 (старый синтаксис)
  
  # 1) Запретить все .php-файлы
  <Files *.php>
    Order Deny,Allow
    Deny from all
  </Files>
  
  # 2) Разрешить только основные php-скрипты
  <FilesMatch "^(login|index|admin|search_product)\.php$">
    Order Allow,Deny
    Allow from all
  </FilesMatch>
</IfModule>
