body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    position: relative;
}
body::before {
    content: "";
    position: absolute;
    top: 0; left: 0; right: 0; bottom: 0;
    background: url('../tea.jpg') center/cover no-repeat;
    opacity: 0.6;
    z-index: -1;
}

.error {
    color: red;
}
